body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 375px;
  padding: 20px;
  margin: auto;
  border: 1px solid black;
}

.container div {
  padding: 5px;
  text-align: center;
  margin-top: 50px;
}

.container div h1 {
  font-size: 25px;
}

.container #first-div p {
  font-size: 15px;
  color: hsl(229, 6%, 66%);
  font-weight: 600;
}

.container h1 span {
  letter-spacing: -1px;
  word-spacing: 6px;
  font-weight: 100;
  color: hsl(0, 0%, 50%);
}
